{% extends 'base.html.twig' %}

{% block title %}Автори{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header-flex">
        <h1 class="page-title">Автори</h1>
    </div>
    
    {% for author in authors %}
        <a href="{{ path('app_author', {id: author.id}) }}" data-skeleton="author" class="list-item">
            <div class="list-icon"><i data-lucide="user"></i></div>
            <div class="list-content">
                <div class="list-title">{{ author.name }}</div>
                {% if author.biography %}
                    <div class="list-desc line-clamp-1">{{ author.biography }}</div>
                {% endif %}
            </div>
            <i data-lucide="chevron-right" class="text-muted w-5"></i>
        </a>
    {% else %}
        <div class="empty-state">
            <i data-lucide="users"></i>
            <div class="empty-state-text">Авторів не знайдено</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
